[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "phillipsar2.github.io"]
	path = phillipsar2.github.io
	url = git@github.com:phillipsar2/phillipsar2.github.io.git
